# Configuration for how to interpret incoming CSV data
# longitude, latitude, elevation, and heading are the pre-defined values that drive the motion of the car in the simulation

longitude GPS_Longitude
latitude GPS_Latitude
elevation GPS_Elevation
heading GPS_Heading

# vectors defined as : vector <origin relative to the car> <direction> <CSV value to use as length>

vector  0 0 0  -1 0 0  1.0 0.3 0.3  GPS_Heading

# graph values as: graph <CVS value to graph> <rgb color of the value> (optional integer identifying the graph the data should appear on)

graph BRAKE_PRESS 1.0 0.2 0.2
graph GPS_Heading 1.0 1.0 1.0
graph RPM 1.0 1.0 1.0
